<div>
    <h2>Monty Hall Simulation</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="simulations">Number of Simulations:</label>
        <input type="number" id="simulations" formControlName="Simulations" name="simulations" required>
      </div>
      <div>
        <label for="ChangeDoor">Switch Door:</label>
        <input type="checkbox" id="ChangeDoor" formControlName="ChangeDoor" name="ChangeDoor">
      </div>
      <button type="submit">Run Simulation</button>
    </form>
    <div>
      <h3>Results</h3>
      <p>Wins: {{ wins }}</p>
      <p>Losses: {{ loses }}</p>
    </div>
  </div>
  
